{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
    <form id="login" name="login" method="post">
        {% csrf_token %}
          {{ form.as_p }}
          <div class="form-group">
            <button id="submit" type="submit" name="submit">
            <strong>Login<b></b> <i></i></strong>
         </button>
          </div>
          <!-- end form-group -->
        </form>

{%  endblock content %}