{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#282828"/>
<title>Code Engine: Message Board</title>
<meta name="author" content="CodeENGINE">
<meta name="description" content="Agensy | Digital Lab & Creative Solutions">
<meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, agency, digital, studio, css, animation, transition, freelancers">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="Agensy | Digital Lab & Creative Solutions">
<meta property="og:image" content="http://www.themezinho.net/agensy/preview.png">
<meta property="og:site_name" content="agensy">
<meta property="og:title" content="agensy">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.themezinho.net/agensy">

<!-- TWITTER META -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@agensy">
<meta name="twitter:creator" content="@agensy">
<meta name="twitter:title" content="agensy">
<meta name="twitter:description" content="Agensy | Digital Lab & Creative Solutions">
<meta name="twitter:image" content="http://www.themezinho.net/agensy/preview.png">

<!-- FAVICON FILES -->
<link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
<link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
<link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
<link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
<link href="ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/odometer.min.css' %}">
<link rel="stylesheet" href="{% static 'css/fancybox.min.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="preloader">
  <div class="inner">
  <figure class="logo"><img src="images/logo-light.png" alt="Image"></figure>
  	<span class="percentage"></span>
  </div>
  <!-- end inner -->
</div>
<!-- end preloader -->
<div class="transition-overlay"></div>
<!-- end transition-overlay -->
<div class="navigation-menu">
	<div class="inner">
	<div class="side-menu">
      <ul>
        <li><a href="agensy.html">Code</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <!-- end side-menu -->
	<div class="sides">
	<div id="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325518.68780316407!2d30.252511957059642!3d50.4016990487754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1552081224273" width="600" height="450" style="border:0" allowfullscreen></iframe>
	</div>
	<!-- end map -->
		<figure><img src="images/office01.jpg" alt="Image">
		<a href="#map" data-fancybox><img src="images/icon-map-marker.svg" alt="Image"></a>
		</figure>
	</div>
	<!-- end sides -->
	<div class="sides"><h2>Agensy is a creative portfolio <strong>Themeforest</strong> layout will help freelancers and digital agencies to create unique websites.</h2>
	<address>Kristiatik 15th Street, Floot 17<br>
Kiev, Ukraine 78692<br>
<a href="#">hello@agensy.com.ua </a>
+380 98 294 80 86
</address>
	</div>
	<!-- end sides -->
	</div>
	<!-- end inner -->
</div>
<!-- end navigation-menu -->
<aside class="left-side">
 <div class="logo">
 	<img src="images/logo-symbol.png" alt="Image">
 </div>
  <ul>
    <li><a href="#">FACEBOOK</a></li>

  </ul>
  <a href="#top" class="gotop"><img src="images/icon-gotop.svg" alt="Image"></a>
</aside>
<!-- end left-side -->
<header class="header">
  <nav class="navbar">
    <div class="logo"> <a href="index.html"><img src="images/logo.png" alt="Image"></a> </div>
    <!-- end logo -->
{#    <div class="phone"> T: +330 294 05 11 </div>#}
    <!-- end phone -->
    <div class="main-menu">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
{#        <li><a href="">Contact</a></li>#}
      </ul>
    </div>
    <!-- end main-menu -->
    <div class="hamburger-menu" id="hamburger-menu">
      <div class="burger">
        <svg id="burger-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
          <title>Show / Hide Navigation</title>
          <rect class="burger-svg__base" width="50" height="50"/>
          <g class="burger-svg__bars">
            <rect class="burger-svg__bar burger-svg__bar-1" x="14" y="18" width="22" height="2"/>
            <rect class="burger-svg__bar burger-svg__bar-2" x="14" y="24" width="22" height="2"/>
            <rect class="burger-svg__bar burger-svg__bar-3" x="14" y="30" width="22" height="2"/>
          </g>
        </svg>
      </div>
      <!-- end burger -->
    </div>
    <!-- end hamburger-menu -->
  </nav>
  <!-- end navbar -->
        {% if url != 'blog' %}

  <div class="headlines">
    <div class="container">
      <h1>Code: <br>
        Engine</h1>
    </div>
    <!-- end container -->
  </div>
    {%  endif %}
  <!-- end headlines -->
</header>
<!-- end header -->
            {% if url != 'blog' %}
        <section class="slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-background="https://images.unsplash.com/photo-1517148815978-75f6acaaf32c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9">
                <div class="slide-inner">
                <figure><img src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9" alt="Image"></figure>
                    <h2>Space in typographical terms is usually</h2>
                    <div class="link">
                    <a href="#">SEE CASE STUDY</a>
                    </div>
                    <!-- end link -->
                </div>
                <!-- end slide-inner -->
              </div>
              <!-- end swiper-slide -->
              <div class="swiper-slide" data-background="https://images.unsplash.com/photo-1520583457224-aee11bad5112?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9">
                <div class="slide-inner">
                <figure><img src="https://images.unsplash.com/photo-1518818608552-195ed130cdf4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9" alt="Image"></figure>
                    <h2>Space in typographical terms is usually</h2>
                    <div class="link">
                    <a href="#">SEE CASE STUDY</a>
                    </div>
                    <!-- end link -->
                </div>
                <!-- end slide-inner -->
              </div>
              <!-- end swiper-slide -->
              <div class="swiper-slide" data-background="https://images.unsplash.com/photo-1499673610122-01c7122c5dcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd">
                <div class="slide-inner">
                <figure><img src="https://images.unsplash.com/photo-1531030874896-fdef6826f2f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9" alt="Image"></figure>
                    <h2>Space in typographical terms is usually</h2>
                    <div class="link">
                    <a href="#">SEE CASE STUDY</a>
                    </div>
                    <!-- end link -->
                </div>
                <!-- end slide-inner -->
              </div>
              <!-- end swiper-slide -->
            </div>
            <!-- end swiper-wrapper -->
            <div class="swiper-pagination"></div>
            <!-- end swiper-pagination -->
            <div class="swiper-button-next"><span></span><b>NEXT</b></div>
            <!-- end swiper-button-next -->
          </div>
          <!-- end swiper-container -->
        </section>
            {% endif  %}
<!-- end slider -->
    {% if user.is_authenticated %}
        <h1>Hi {{ user.username }}!</h1>
        <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}

    {% block content %}

    {% endblock content %}
<!-- end work-with-us -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="career wow fadeInUp">
          <h6>CAREER OF A DEVELOPER</h6>
          <h2>We allways looking for talented peoples, soo let's work together</h2>
          <div class="custom-link"><a href="#">Apply Now</a> <span></span> <i></i>
          </div>
          <!-- end custom-link -->
          </div>
        <!-- end career -->
      </div>
      <!-- end col-12 -->
      <div class="col-lg-5 wow fadeInUp">
        <figure class="logo"> <img src="images/logo.png" alt="Image"> </figure>
      </div>
      <!-- end col-5 --> <div class="col-lg-4 col-md-6 wow fadeInUp">
        <h5>Location</h5>
        <address>
        Studio Agensy<br>
        Kristiatik 15th Street, Floot 17<br>
        Kiev, Ukraine 78692
        </address>
      </div>
      <!-- end col-4 -->
      <div class="col-lg-3 col-md-6 wow fadeInUp">
        <h5>Say Hello</h5>
        <address>
        hello@agensy.com.ua <br>
        +380 98 294 80 86
        </address>
      </div>
      <!-- end col-3 -->
      <div class="col-12 wow fadeInUp">
        <div class="sub-footer">
          <ul>
            <li><a href="#">Career</a></li>
            <li><a href="#">Term & Condutions</a></li>
            <li><a href="#">Awwwards</a></li>
          </ul>
          <span>© 2019 Agensy - All rights Reserved</span> </div>
        <!-- end sub-footer -->
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
<!-- end footer -->
<audio id="hamburger-hover" src="audio/link.mp3" preload="auto"></audio>

<!-- JS FILES -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/isotope.min.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/TweenMax.min.js' %}"></script>
<script src="{% static 'js/odometer.min.js' %}"></script>
<script src="{% static 'js/fancybox.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>


</body>
</html>