{%  extends 'base.html' %}

{% block content %}

    <div class="container">
<h2>Blog</h2>
	<h4>What do you have to say</h4>
</div>
<!-- end container -->
 </div>
 <!-- end page-title -->
</header>
<!-- end header -->
<section class="page-header">
<div class="post-sticky wow fadeIn">
					<figure class="post-image"><img src="https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Image"></figure>
					<div class="post-content">
					<div class="avatar">
						<img src="images/avatar01.jpg" alt="Image">by
						<a href="#">Anna O'Neil</a>
					</div>
					<h3 class="post-title"><a href="blog-single.html">Performed suspicion in certainty so frankness by attention pretended.</a></h3>
					<small class="post-date">21 April, 2019</small>
					<p class="post-intro">Assurance perpetual he in oh determine as. The year paid met him does eyes same. Own we like having fun. No animals were harmed, no bridges were burned during our parties.</p>
					<a href="blog-single.html" class="post-link">READ MORE</a>
					</div>
					<!-- end post-content -->
				</div>
				<!-- end post-sticky -->
</section>
<!-- end page-header -->
    <section class="page-link" style="margin-top: 50px">
    <div class="custom-link"><a href="{% url 'post_new' %}">New Post</a> <span></span> <i></i>
          </div>
    </section>


<section class="blog">
	<div class="container">

	<div class="row">
		<div class="col-lg-8">
            {% for post in object_list %}
			<div class="post wow fadeIn">
					<figure class="post-image"><img src="https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Image"></figure>
					<div class="post-content">
					<div class="avatar">
						<img src="https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9" alt="Image">by
						<a href="#">{{ post.author }}</a>
					</div>
					<h3 class="post-title">{{ post.title }}</h3>
					<small class="post-date">21 April, 2019</small>
					<p class="post-intro">{{ post.body }}</p>
					<a href="{% url 'post_detail' post.pk %}" class="post-link">READ MORE</a>
					</div>
					<!-- end post-content -->

				</div>
            {% endfor %}

				<!-- end post -->

				<!-- end post -->
				<ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
		</div>
		<!-- end col-8 -->
		<div class="col-lg-4">
			<aside class="sidebar">
    			<div class="widget">
    				<h4 class="title">CATEGORIES</h4>
    				<ul class="categories">
      <li><a href="#">Web Design</a><span>14</span></li>
      <li><a href="#">Web Development</a><span>22</span></li>
      <li><a href="#">e-Commerce</a><span>74</span></li>
      <li><a href="#">Woo Commerce</a><span>4</span></li>
      <li><a href="#">Wordpress</a><span>64</span></li>
      <li><a href="#">App Development</a><span>53</span></li>
      <li><a href="#">Print Design</a><span>14</span>71</li>
    </ul>
    			</div>
    			<!-- end widget -->
    			<div class="widget">
    				<h4 class="title">AGENSY</h4>
    				<p>Interactive digital experiences are continually becoming more <u>amazing</u> and more <u>complex</u> to produce. Our team is specially designed to create successful digital products.</p>
    			</div>
    			<!-- end widget -->
    			<div class="widget">
    				<h4 class="title">SEARCH</h4>
    				<form>
    					<input type="text" placeholder="Search on blog">
    					<button type="submit">SEARCH</button>
    				</form>
    			</div>
    			<!-- end widget -->
    			<div class="widget">
    				<h4 class="title">TAGS</h4>
    				<ul class="tags">
      <li><a href="#">Animation</a></li>
      <li><a href="#">Branding</a></li>
      <li><a href="#">Development</a></li>
      <li><a href="#">Apps for IOS</a></li>
      <li><a href="#">Creative</a></li>
      <li><a href="#">Direction</a></li>
      <li><a href="#">Product Design</a></li>
      <li><a href="#">UI-UX Design</a></li>
      <li><a href="#">Web Design</a></li>
    </ul>
    			</div>
    			<!-- end widget -->
    			<div class="widget">
    				<h4 class="title">WORKS</h4>
    				<ul class="works">
      <li><a href="images/works01.jpg" data-fancybox><img src="images/works01.jpg" alt="Image"></a></li>
      <li><a href="images/works02.jpg" data-fancybox><img src="images/works02.jpg" alt="Image"></a></li>
      <li><a href="images/works03.jpg" data-fancybox><img src="images/works03.jpg" alt="Image"></a></li>
      <li><a href="images/works04.jpg" data-fancybox><img src="images/works04.jpg" alt="Image"></a></li>
      <li><a href="images/works05.jpg" data-fancybox><img src="images/works05.jpg" alt="Image"></a></li>
      <li><a href="images/works06.jpg" data-fancybox><img src="images/works06.jpg" alt="Image"></a></li>
      </ul>
      </aside>
		</div>
		<!-- end col-4 -->
	</div>
	<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end blog -->


{% endblock %}