
<section class="works">
  <div class="container">
    <ul>
      <li>
        <div class="titles">
          <h2>Explore recent works</h2>
          <p>We’re constantly refining our product. Adding new features. Working to help your section business grow.</p>
            <div class="custom-btn"><a href="#">See all cases<span></span> <i></i></a></div>
            <!-- end custom-btn -->
          </div>
        <!-- end titles -->
      </li>
      <li>
        <div class="project-box">
          <figure class="project-image reveal-effect masker wow"> <a href="images/works01.jpg" data-fancybox><img src="images/works01.jpg" alt="Image"></a> </figure>
          <div class="project-content">
            <h3><a href="images/works01.jpg" data-fancybox>Moments Matter Event Studio</a></h3>
            <small>Branding — Website</small> </div>
          <!-- end project-content -->
        </div>
        <!-- end project-box -->
      </li>
      <li>
        <div class="project-box">
          <figure class="project-image reveal-effect masker wow"> <a href="images/works02.jpg" data-fancybox><img src="images/works02.jpg" alt="Image"></a> </figure>
          <div class="project-content">
            <h3><a href="images/works02.jpg" data-fancybox>More Powered Macbook Pro X</a></h3>
            <small>Website — eCommerce</small> </div>
          <!-- end project-content -->
        </div>
        <!-- end project-box -->
      </li>
      <li>
        <div class="project-box">
          <figure class="project-image reveal-effect masker wow"> <a href="images/works03.jpg" data-fancybox><img src="images/works03.jpg" alt="Image"></a> </figure>
          <div class="project-content">
            <h3><a href="images/works03.jpg" data-fancybox>Stan's Office Online Gateway</a></h3>
            <small>Wordpress — eCommerce</small> </div>
          <!-- end project-content -->
        </div>
        <!-- end project-box -->
      </li>
      <li>
        <div class="project-box">
          <figure class="project-image reveal-effect masker wow"> <a href="images/works04.jpg" data-fancybox><img src="images/works04.jpg" alt="Image"> </a></figure>
          <div class="project-content">
            <h3><a href="images/works04.jpg" data-fancybox>David Courtney IOS Application</a></h3>
            <small>Print — Branding</small> </div>
          <!-- end project-content -->
        </div>
        <!-- end project-box -->
      </li>
    </ul>
  </div>
  <!-- end container -->
</section>
<!-- end works -->
<section class="featured-services" data-color="dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="titles">
          <h6>FEATURED SERVICES</h6>
          <p>We’re constantly refining our product. Adding new features.  Working to
            help your business grow.</p>
        </div>
        <!-- end titles -->
      </div>
      <!-- end col-12 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="images/icon01.svg" alt="Image">
          <figcaption>
           <span>01</span>
            <h4>UI-UX DESIGN</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="images/icon02.svg" alt="Image">
          <figcaption>
           <span>02</span>
            <h4>DESIGN CODING</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="images/icon03.svg" alt="Image">
          <figcaption>
           <span>03</span>
            <h4>BRANDING</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="images/icon04.svg" alt="Image">
          <figcaption>
           <span>04</span>
            <h4>MARKETTING</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="images/icon05.svg" alt="Image">
          <figcaption>
           <span>05</span>
            <h4>IOS APPS</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="images/icon06.svg" alt="Image">
          <figcaption>
           <span>06</span>
            <h4>CUSTOM CMS</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="images/icon07.svg" alt="Image">
          <figcaption>
           <span>07</span>
            <h4>JAVA APPS</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
      <div class="col-lg-3 col-md-6">
        <figure class="reveal-effect masker wow"> <img src="images/icon08.svg" alt="Image">
          <figcaption>
           <span>08</span>
            <h4>eCOMMERCE</h4>
          </figcaption>
        </figure>
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end featured-services -->
<section class="recent-news">
  <div class="container">
	<div class="row align-items-end">
		<div class="col-12 wow fadeInUp">
			<div class="content-box selected">
				<small>Creative, WordPress</small>
				<h3><a href="blog-single.html">We're Making Office Changes & Introducing our New Office</a></h3>
				<span>17 September, 2019</span>
			</div>
			<!-- end content-box -->
		</div>
		<!-- end col-12 -->
		<div class="col-lg-4 wow fadeInUp">
			<div class="content-box">
				<small>Creative, WordPress</small>
				<h3><a href="blog-single.html">We're Making Office Changes & Introducing our New Office</a></h3>
				<span>17 September, 2019</span>
			</div>
			<!-- end content-box -->
		</div>
		<!-- end col-4 -->
		<div class="col-lg-4 wow fadeInUp">

			<div class="content-box">
				<small>Development, Browser</small>
				<h3><a href="blog-single.html">The New Chrome and Safari Will Reshape the Web for Authors</a></h3>
				<span>22 October, 2019</span>
			</div>
			<!-- end content-box -->
		</div>
		<!-- end col-4 -->

		<div class="col-lg-4 wow fadeInUp">
			<div class="content-box">
				<small>Security, Internet</small>
				<h3><a href="blog-single.html">Half the Web Is Now Encrypted hat Makes Everyone Safery</a></h3>
				<span>30 November, 2019</span>
			</div>
			<!-- end content-box -->
		</div>
		<!-- end col-4 -->
	</div>
	<!-- end row -->
	</div>
  <!-- end container -->
</section>
<!-- end recent-news -->
<section class="our-awards">
  <div class="container">
    <div class="titles">
      <h6>AWARDS & PRIZES</h6>
      <p>We’re constantly refining our product. Adding new features.  Working to
        help your business grow.</p>
    </div>
    <!-- end titles -->
    <ul>
      <li class="wow fadeInUp" data-wow-delay="0s">
        <figure><img src="images/awards01.png" alt="Image"></figure>
        <h5>CSS Design Award</h5>
        <small>Site of the day</small> <span class="odometer" data-count="4" data-status="yes">0</span> </li>
      <li class="wow fadeInUp" data-wow-delay="0.05s">
        <figure><img src="images/awards02.png" alt="Image"></figure>
        <h5>FWA Award</h5>
        <small>Honorable Mention</small> <span class="odometer" data-count="9" data-status="yes">0</span> </li>
      <li class="wow fadeInUp" data-wow-delay="0.10s">
        <figure><img src="images/awards03.png" alt="Image"></figure>
        <h5>Web Design Award</h5>
        <small>Selected Web</small> <span class="odometer" data-count="6" data-status="yes">0</span> </li>
      <li class="wow fadeInUp" data-wow-delay="0.15s">
        <figure><img src="images/awards04.png" alt="Image"></figure>
        <h5>W3 Award</h5>
        <small>Site of the day</small> <span class="odometer" data-count="2" data-status="yes">0</span> </li>
      <li class="wow fadeInUp" data-wow-delay="0.20s">
        <figure><img src="images/awards05.png" alt="Image"></figure>
        <h5>CSS Awwwards</h5>
        <small>Web of week</small> <span class="odometer" data-count="7" data-status="yes">0</span> </li>
    </ul>
  </div>
  <!-- end container -->
</section>
<!-- end our-awards -->
<section class="showreel" data-color="dark">
  <div class="container">
    <div class="video reveal-effect masker wow">
    	<video src="videos/video.mp4" autoplay loop muted></video>
    	<h2>SHOWREEL</h2>
    	<!-- end content -->
      </div>
    <!-- end video -->
  </div>
  <!-- end container -->
</section>
<!-- end showreel -->
<section class="logos">
  <div class="container">
    <div class="titles">
      <h6>SELECTED CLIENTS</h6>
      <p>We’re constantly refining our product. Adding new features.  Working to
        help your business grow.</p>
    </div>
    <!-- end titles -->
    <ul class="wow fadeInUp">
      <li>
        <figure><img src="images/logo01.png" alt="Image">
        <img src="images/logo05.png" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="images/logo02.png" alt="Image">
        <img src="images/logo15.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo03.png" alt="Image">
        <img src="images/logo12.png" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="images/logo04.png" alt="Image">
        <img src="images/logo11.png" alt="Image">
        </figure>
      </li>
      <li>
        <figure><img src="images/logo05.png" alt="Image">
         <img src="images/logo06.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo06.png" alt="Image">
         <img src="images/logo02.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo07.png" alt="Image">
         <img src="images/logo07.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo08.png" alt="Image">
         <img src="images/logo13.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo09.png" alt="Image">
         <img src="images/logo16.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo10.png" alt="Image">
         <img src="images/logo15.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo11.png" alt="Image">
         <img src="images/logo01.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo12.png" alt="Image">
         <img src="images/logo06.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo13.png" alt="Image">
         <img src="images/logo04.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo14.png" alt="Image">
         <img src="images/logo11.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo15.png" alt="Image">
         <img src="images/logo10.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo04.png" alt="Image">
         <img src="images/logo12.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo05.png" alt="Image">
         <img src="images/logo08.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo06.png" alt="Image">
         <img src="images/logo03.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo07.png" alt="Image">
         <img src="images/logo02.png" alt="Image"></figure>
      </li>
      <li>
        <figure><img src="images/logo08.png" alt="Image">
         <img src="images/logo10.png" alt="Image"></figure>
      </li>
    </ul>
  </div>
  <!-- end container -->
</section>
<!-- end logos -->
<section class="work-with-us" data-color="dark">
  <div class="container wow fadeInUp">
    <h6>WORK WITH PRO TEAM</h6>
    <h2>Would you like to have professional project?
      Let's talk about it!</h2>
    <p><a href="#">hire-us@agensy.com.ua</a></p>
    <small>Or</small>
    <p>+380 98 294 80 85</p>
  </div>
  <!-- end container -->
</section>