{%  extends 'base.html' %}

{% block content %}
<h1> Message Board Home</h1>


    {% for post in all_posts %}
        <div>
        <h2>{{ post.title }}</h2>
        </div>

    <p>{{ post.body }}</p>

    {% endfor %}


{% endblock %}