{% extends 'base.html' %}

{% block content %}

    <form id="contact" name="contact" method="post">
        {% csrf_token %}
          <div class="form-group">
            <input type="text" name="name" id="name" autocomplete="off" required>
             <span>Your name</span>
          </div>
          <!-- end form-group -->
{#          <div class="form-group">#}
{#            <input type="text" name="email" id="email" autocomplete="off" required>#}
{#            <span>Your e-mail</span>#}
{#          </div>#}
          <!-- end form-group -->
{#          <div class="form-group">#}
{#            <input type="text" name="subject" id="subject" autocomplete="off" required>#}
{#            <span>Subject</span>#}
{#          </div>#}
          <!-- end form-group -->
{#          <div class="form-group">#}
{#            <textarea name="message" id="message" autocomplete="off" required></textarea>#}
{#            <span>Your message</span>#}
{#          </div>#}
          <!-- end form-group -->
        {{ form.as_p }}
          <div class="form-group">
            <button id="submit" type="submit" name="submit" value="Save">
<strong>Submit Now<b></b> <i></i></strong>
         </button>
          </div>
          <!-- end form-group -->
        </form>

{%  endblock content %}