{% extends 'base.html' %}

{% block content %}
<h1>Delete Post</h1>
    <form id="contact" name="contact" method="post">
        {% csrf_token %}
          <p>Are you sure you want to delete "{{ post.title }}"?</p>
          <div class="form-group">
            <button id="submit" type="submit" name="submit" value="Confirm">
<strong>Submit Now<b></b> <i></i></strong>
         </button>
          </div>
          <!-- end form-group -->
        </form>

{%  endblock content %}