{% extends 'base.html' %}

{% block content %}
<section class="page-link" style="margin-top: 50px">
    <div class="custom-link"><a href="{% url 'post_edit' post.pk %}">Edit Post</a> <span></span> <i></i>
          </div>
<div class="custom-link"><a href="{% url 'post_delete' post.pk %}">Delete Post</a> <span></span> <i></i>
          </div>
    </section>
    <section class="blog">
	<div class="container">
	<div class="row">
		<div class="col-12">

					<div class="post-body wow fadeIn">
					<div class="avatar">
						<img src="images/avatar01.jpg" alt="Image">by
						<a href="#">{{ post.author }}</a>
					</div>
					<h3 class="post-title">{{ post.title }}</h3>
					<small class="post-date">21 April, 2019</small>
					<p class="post-intro">Design is our playground. While we create an awesome experience, we like having fun. No animals were harmed, no bridges were burned during our parties.</p>
						<p>Inhabit hearing perhaps on ye do no. It maids decay as there he. Smallest on suitable disposed do although blessing he juvenile in. Society or if excited forbade. Here name off yet she long sold easy whom. Differed oh cheerful procured pleasure securing suitable in. Hold rich on an he oh fine. Chapter ability shyness article welcome be do on service. </p>
						<figure class="image-left"><img src="images/office01.jpg" alt="Image"></figure>
                        <p>{{ post.body }}</p>
						</div>
					<!-- end post-body -->
					<div class="post-navigation">
						<a href="#">Three-piece set with matching headband and knickers.</a>
						<a href="#">County suffer twenty or marked no moment in he.</a>
					</div>
					<!-- end post-navigation -->
		</div>
		<!-- end col-12 -->
	</div>
	<!-- end row -->
	</div>
	<!-- end container -->
</section>

{% endblock content %}